@inherits LayoutComponentBase


<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="col">
            <span class="navbar-brand m-lg-2">Admin Page</span>

        </div>

    </div>
</div>

<br />
<br />



<!-- route to the admin layout -->
<div class="container-fluid">
    @Body
</div>

