@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Prediction


<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-12">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Crash Analyzer</h1>
                    <img src="~/img/CarCrashInfo.png" width="1200" />
                    <p class="lead fw-normal text-muted mb-0">Provide the following parameters to predict the severity of the resulting crash.</p>
                </div>
            </div>
        </div>
     </div>
</section>





<div class="container">
    <div class="row">
        <div class="col-1">

        </div>

        <div class="col">
            <h3>Here is the predicted crash severity</h3>
            <h1>Score: @Model.PredictedValue</h1>

            @if (Model.PredictedValue == "1")
            {
                <h2>No Injury</h2>
            }
            @if (Model.PredictedValue == "2")
            {
                <h2>Possible Injury</h2>
            }
            @if (Model.PredictedValue == "3")
            {
                <h2>Suspected Minor Injury</h2>
            }
            @if (Model.PredictedValue == "4")
            {
                <h2>Suspected Serious Injury</h2>
            }
            @if (Model.PredictedValue == "5")
            {
                <h2>Fatal</h2>
            }
        </div>

    </div>


</div>

